.div-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 0;
    margin: auto;
    font-weight: 700;
    letter-spacing: 0.1em;

}

.Aboutus-content {
    flex: 1;
    width: 40%;
}

.about-word {
    font-family: Dancing Script;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: #FFCE6D;
}

.about-header {
    font-family: Roboto;
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    color: #fff;
}

.about-para {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.13em;
    text-align: left;
    padding: 50px 0;
    color: #fff;

}

.Aboutus-img {
    width: 40%;
}

.about-img {
    width: 300px;
    height: auto;
}

.about-readmore {
    width: 177px;
    height: 44px;
    background-color: transparent;
    border: 1px solid #FFFFCC;
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}